<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "PrinterWithDateTimeImpl" class = "school21.spring.models.printer.PrinterWithDateTimeImpl">
        <constructor-arg ref="Renderer"/>
        <property name="Renderer" ref="Renderer" />

    </bean>

    <bean id = "PrinterWithPrefixImpl" class = "school21.spring.models.printer.PrinterWithPrefixImpl">
        <constructor-arg ref="Renderer"/>
        <property name="Renderer" ref="Renderer" />

    </bean>

</beans>