<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id = "preProcessor" class="models.preprocessor.PreProcessor" abstract="true">
    </bean>
        <bean id = "preProcessorToLowerImpl" class="models.preprocessor.PreProcessorToLowerImpl">
        </bean>

        <bean id = "preProcessorToUpperImpl" class="models.preprocessor.PreProcessorToUpperImpl">
        </bean>


    <bean id = "renderer" class="models.renderer.Renderer" abstract="true">
    </bean>
        <bean id = "rendererErrImpl_preProcToUpper" class="models.renderer.RendererErrImpl">
            <constructor-arg name="preProcessor" ref="preProcessorToUpperImpl"/>
        </bean>

        <bean id = "rendererErrImpl_preProcToLower" class="models.renderer.RendererErrImpl">
            <constructor-arg name="preProcessor" ref="preProcessorToLowerImpl"/>
        </bean>

        <bean id = "rendererStandardImpl_preProcToUpper" class="models.renderer.RendererStandardImpl">
            <constructor-arg name="preProcessor" ref="preProcessorToUpperImpl"/>
        </bean>


        <bean id = "rendererStandardImpl_preProcToLower" class="models.renderer.RendererStandardImpl">
            <constructor-arg name="preProcessor" ref="preProcessorToLowerImpl"/>
        </bean>


    <bean id = "printer" class="models.printer.Printer" abstract="true">
    </bean>
        <bean id ="printerWithDateTimeImpl" class ="models.printer.PrinterWithDateTimeImpl">
            <constructor-arg name="renderer" ref="rendererStandardImpl_preProcToUpper"/>
        </bean>

        <bean id ="printerWithPrefixImpl" class ="models.printer.PrinterWithPrefixImpl">
            <constructor-arg name="renderer" ref="rendererStandardImpl_preProcToUpper"/>
            <property name="prefix" value="prefix"/>
        </bean>

</beans>